<!DOCTYPE html>
<html>
<head>
	<title>Grupo de Trabajo</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../../../css/style.css">
</head>
<body>
	<header class="nombreOrg">
        <h1>Aldeas Infantiles SOS</h1>
    </header>
    <nav class="navBar">
        <ul class="navUl">
            <li><a href="./home.html">Home</a></li>
            <li><a href="./quienesSomos.html">Quienes somos</a></li>
            <li><a href="./nuestroTrabajo.php">Nuestro trabajo</a></li>
            <li><a href="./trabajeConNosotros.html">Trabaje con nosotros</a></li>
        </ul>
    </nav>
    <main>
        <h2 class="tituloPagina">Grupo de Trabajo #</h2>
        <aside class="menuGrupos">
            <h3 class="asideTitulo">Organizacion</h3>
            <ul class="listaGruposTrabajo">
                <li> ∆   GT1</li>
                <li> ∆   GT2</li>
                <li> ∆   GT3</li>
                <li> ∆   GT4</li>
            </ul>

        </aside>
        <section class="sectionOrganizacion">
            <div class="container">
                <div class="lineaVertical"></div>

                <dl>
                    <dt class="nombreDt">Resumen</dt>
                    <dd class="especificacionDd">
                         <textarea class="parrafoOrganizacion" name="mensaje">
                            vufejdiwoi9r48tuhgrbefjdnkwoeir394t8uhgybefhjdknsml vufejdiwoi9r48tuhgrbefjdnkwoeir394t8uhgybefhjdknsml vufejdiwoi9r48tuhgrbefjdnkwoeir394t8uhgybefhjdknsml vufejdiwoi9r48tuhgrbefjdnkwoeir394t8uhgybefhjdknsml vufejdiwoi9r48tuhgrbefjdnkwoeir394t8uhgybefhjdknsml vufejdiwoi9r48tuhgrbefjdnkwoeir394t8uhgybefhjdknsml vufejdiwoi9r48tuhgrbefjdnkwoeir394t8uhgybefhjdknsml vufejdiwoi9r48tuhgrbefjdnkwoeir394t8uhgybefhjdknsml vufejdiwoi9r48tuhgrbefjdnkwoeir394t8uhgybefhjdknsml vufejdiwoi9r48tuhgrbefjdnkwoeir394t8uhgybefhjdknsml
                        </textarea>
                    </dd>
                </dl>
            </div>
            <div class="container">
                <div class="lineaVertical"></div>
                <dl>
                    <dt class="nombreDt">
                        <span>Objetivos </span>
                        <button class="btnPlus" type="button" onclick="agregarObjetivoGT()">+</button>
                    </dt>
                    <dd id="listaObj" class="especificacionDd">
                        <ul>
                            <li>OBJ 1</li>
                            <li>OBJ 2</li>
                            <li>OBJ 3</li>
                            <li>OBJ 4</li>
                        </ul>
                    </dd>
                </dl>
            </div>
            <div class="container">
                <div class="lineaVertical"></div>
                <dl>
                    <dt class="nombreDt">Actividades</dt>
                    <dd class="especificacionDd">asghjfireowpdkfgijhrefiwodkpaslsckdfjngrjefoirwekdpasl</dd>
                </dl>
            </div>
        </section>

    </main>
    <footer class="footer">
        <a href="" class="footerLink primerLink">link 1</a>
        <a href="" class="footerLink">link 2</a>
        <a href="" class="footerLink ultimoLink">link 3</a>
        <div>
            <span class="spanCurso">Introduccion al desarrollo de aplicaciones Web</span>
            <span class="spanEstudiantes">Valeria Calderón ~ Luis Carlos Cruz ~ Lucia Zamora</span>
        </div>
    </footer>
    <script type="text/javascript" src="../../../js/main.js"></script>
    <script src="../../../vendor/tinymce/js/tinymce/tinymce.min.js"></script>
    <script>tinymce.init({ selector:'textarea' });</script>
</body>
</html>
