<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="../../../css/style.css">
</head>
<body>
    <header class="nombreOrg">
        <h1>Adminstración Aldeas Infantiles</h1>
    </header>
    <nav class="navBar">
        <ul class="navUl">
        </ul>
    </nav>
    <main>
        <div class="login-form">
            <input type="text" name="username" placeholder="Username" /></br>
            <input type="text" name="password" placeholder="Password" /></br>
            <button class="submit-btn">
                <a href="./admin-contacto.html">Ingresar</a>
            </button>
        </div>
    </main>
    <footer class="footer">
        <a href="" class="footerLink primerLink">link 1</a>
        <a href="" class="footerLink">link 2</a>
        <a href="" class="footerLink ultimoLink">link 3</a>
        <div>
            <span class="spanCurso">Introduccion al desarrollo de aplicaciones Web</span>
            <span class="spanEstudiantes">Valeria Calderón ~ Luis Carlos Cruz ~ Lucia Zamora</span>
        </div>
    </footer>
</body>
</html>
