<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="../../css/style.css">
</head>
<body>
    <header class="nombreOrg">
        <h1>Adminstración Aldeas Infantiles</h1>
    </header>
    <nav class="navBar">
        <ul class="navUl">
        </ul>
    </nav>
    <main>
        <div id="messageContainer" class="display-message">
            <p id="message"></p>
            <span class="remove-message" onclick="removeMessage()">x</span>
        </div>
        <div class="login-form">
            <div class="inputContainer">
                <input id="userName" type="text" name="username" placeholder="Username" />
                <input id="password" type="password" name="password" placeholder="Password" />
            </div>
            <button class="btnAgregar" onclick="login()">Ingresar</button>
        </div>
    </main>
    <footer class="footer">
        <a href="" class="footerLink primerLink">link 1</a>
        <a href="" class="footerLink">link 2</a>
        <a href="" class="footerLink ultimoLink">link 3</a>
        <div>
            <span class="spanCurso">Introduccion al desarrollo de aplicaciones Web</span>
            <span class="spanEstudiantes">Valeria Calderón ~ Luis Carlos Cruz ~ Lucia Zamora</span>
        </div>
    </footer>
    <script type="text/javascript" src="../../js/main.js"></script>
</body>
</html>
