<!DOCTYPE html>
<html>
<head>
	<title>Nuestro Trabajo</title>
	<link rel="stylesheet" type="text/css" href="../../css/style.css">
    <meta charset="utf-8">
</head>
<body>
	<header class="nombreOrg">
        <h1>Aldeas Infantiles SOS</h1>
    </header>
    <nav class="navBar">
        <ul class="navUl">
            <li><a href="./home.html">Home</a></li>
            <li><a href="./quienesSomos.php">Quienes somos</a></li>
            <li class="currentLink"><a href="./nuestroTrabajo.html">Nuestro trabajo</a></li>
            <li><a href="./trabajeConNosotros.html">Trabaje con nosotros</a></li>
        </ul>
    </nav>
     <main>
        <h2 class="tituloPagina">Nuestro Trabajo</h2>
        <aside class="menuGrupos">
            <h3 class="asideTitulo">Organizacion</h3>
            <ul class="listaGruposTrabajo">
                <li> ∆   GT1</li>
                <li> ∆   GT2</li>
                <li> ∆   GT3</li>
                <li> ∆   GT4</li>
            </ul>

        </aside>
        <section class="sectionOrganizacion">
            <h3 class="sectionTitulos">Organizacion</h3>
            <p class="parrafoOrganizacion">vufejdiwoi9r48tuhgrbefjdnkwoeir394t8uhgybefhjdknsml vufejdiwoi9r48tuhgrbefjdnkwoeir394t8uhgybefhjdknsml vufejdiwoi9r48tuhgrbefjdnkwoeir394t8uhgybefhjdknsml vufejdiwoi9r48tuhgrbefjdnkwoeir394t8uhgybefhjdknsml vufejdiwoi9r48tuhgrbefjdnkwoeir394t8uhgybefhjdknsml vufejdiwoi9r48tuhgrbefjdnkwoeir394t8uhgybefhjdknsml vufejdiwoi9r48tuhgrbefjdnkwoeir394t8uhgybefhjdknsml vufejdiwoi9r48tuhgrbefjdnkwoeir394t8uhgybefhjdknsml vufejdiwoi9r48tuhgrbefjdnkwoeir394t8uhgybefhjdknsml vufejdiwoi9r48tuhgrbefjdnkwoeir394t8uhgybefhjdknsml</p>
            <h3 class="sectionTitulos">Grupos de trabajo</h3>
            <table class="tablaGT" cellpadding="20">
                <tr>
                    <th>Grupo de trabajo</th>
                    <th>Resumen</th>
                </tr>
                <tr>
                    <td>Grupo 1</td>
                    <td>gfhuisajlsjrhfd</td>
                </tr>
            </table>
        </section>

    </main>
    <footer class="footer">
        <a href="" class="footerLink primerLink">link 1</a>
        <a href="" class="footerLink">link 2</a>
        <a href="" class="footerLink ultimoLink">link 3</a>
        <div>
            <span class="spanCurso">Introduccion al desarrollo de aplicaciones Web</span>
            <span class="spanEstudiantes">Valeria Calderón ~ Luis Carlos Cruz ~ Lucia Zamora</span>
        </div>
    </footer>
</body>
</html>
