/**********************************************************************
*
*                           ESTILOS GENERALES
*
***********************************************************************/
body{
    margin: 0;
    padding: 0;
}

/**********************************************************************
*
*                               HOME
*
***********************************************************************/
.homeImg {
    display: block;
    margin: auto;
    width: 50%;
    height: auto;
}
.imgContainer{
    margin-top: 6%;
    margin-bottom: 6%;
}

/**********************************************************************
*
*                            QUIENES SOMOS
*
***********************************************************************/
.tituloPagina{
    background-color: #D1595B;
    color: white;
    margin: 0;
    height: 1em;
    font-size: 2em;
    padding-left: 4em;
    padding-right: 3em;
    padding-top: 2em;
    padding-bottom: 2em;
    margin-bottom: 3%;
}

.container{
    margin-left: 10%;
    margin-bottom: 8%;
    margin-top: 8%;

}

.lineaVertical{
    float: left;
    border: 2px solid #3E3A4B;
    height: 5em;
}
.nombreDt{
    color: #D1595B;
    font-size: 1.5em;
    margin-bottom: 1%;
    margin-left: 1em;
}

.especificacionDd{
    color: #888888;
    margin: 0;
    margin-left: 2em;
    width: 60%;
}
/**********************************************************************
*
*                          NUESTRO TRABAJO
*
***********************************************************************/
.menuGrupos{
    float: left;
    width: 20%;
    padding-left: 5%;
    margin-right: 5%
}

.sectionOrganizacion{
    float: right;
    width: 60%;
    margin-right: 10%;
    margin-bottom: 5%;

    &.user {
        float: none;
        margin: 0 auto 25px auto;
        width: 80%;
    }


}

.listaGruposTrabajo{
    list-style-type: none;
    color: #D1595B;

}

.listaGruposTrabajo li {
    border-bottom: 2px solid #F4F4F4;
    padding-bottom: 1%;
    padding-left: 3%;
    margin-bottom: 10%;
}

.asideTitulo{
    color: #3E3A4B;
    margin: 1em 0;
}

.sectionTitulos{
    color: #3E3A4B;
    font-size: 1.5em;
    margin: 1em 0;
}

.parrafoOrganizacion{
    color: #888888;
}

.tablaGT{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 5em;
    text-decoration: none;
}

.tablaGT th, tr, td{
    border: 1px solid black;
}

.tablaGT th{
    color: #D1595B;
    text-align: center;
    padding: 1em 1.5em;
}

.tablaGT td{
    color: #888888;
    padding: 1em 1.5em;
}

/**********************************************************************
*
*                          TRABAJE CON NOSOTROS
*
***********************************************************************/

.inputContainer{
    display: block;
    margin: auto;
    width: 50%;
    margin-bottom: 2%;

    input[type="text"], input[type="password"] {
        border: none;
        border-bottom: 2px solid #D1595B;
        background-color: transparent;
        width: 90%;
        font-size: 1em;
        color: #888888;
        height: 1em;
        margin-bottom: 2%;
        margin-top: 2%;
        margin-left: 1%;
    }

    textarea {
        width: 100%;
        height: 8em;
        margin-left: 1%;
        margin-bottom: 2%;
        margin-top: 2%;
        color: #888888;
        background-color: transparent;
        border: 2px solid #D1595B;
    }

    input:focus,textarea:focus{
        outline: none;
    }

    input[type="checkbox"] {
        border: none;
        font-size: 1em;
        height: 1em;
        margin-bottom: 2%;
        margin-top: 2%;
        margin-left: 15%;
    }
}
.label{
    color: #3E3A4B;
    font-size: 1em;
}

.sectionBtn, .sectionAgregarGrupo{
    display: flex;
    justify-content: center;
}

.btnAgregar{
    margin-bottom: 5%;
    color: white;
    background-color: #3E3A4B;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.btnAgregar  a:link, .btnAgregar  a:visited {
    color: white;
    text-decoration: none;
}

.btnAgregar:hover, .btnPlus:hover{
    background-color: #D1595B;
}

/**********************************************************************
*
*                                ADMIN
*
***********************************************************************/
/**********************************************************************
*
*                           NUESTRO TRABAJO
*
***********************************************************************/

.sectionOrganizacion textarea{
    width: 100%;
        height: 8em;
        margin-left: 1%;
        margin-bottom: 2%;
        margin-top: 2%;
        color: #888888;
        background-color: transparent;
        border: 2px solid #D1595B;
}



.sectionAgregarGrupo{
    clear: both;
}

.titulos{
    display: block;
    margin: auto;
    width: 50%;
    margin-bottom: 5%;
    font-size: 1.5em;
}

.listaGruposTrabajo li a{
    text-decoration: none;
    color: #D1595B;
}

.tablaGT tr td a{
    color: #3E3A4B;
}

.display-message {
    text-align: center;
    margin: 0 20px 20px 20px;
    position: relative;
    border-radius: 5px;
    min-height: 30px;
    display: none;

    &.error {
        background-color: $color-error;
        color: red;
        display: block;
    }

    &.success {
        background-color: $color-success;
        color: $color-white;
        display: block;
    }

    .remove-message {
        position: absolute;
        top: 0;
        right: 0;
        margin: 2px 15px 0 0;
        color: $color-white;
        cursor: pointer;
    }

    p {
        padding-top: 5px;
    }

}
