.login-form {
    margin: 100px auto 40px auto;
    display: flex;
    flex-direction: column;
    width: 300px;

    .inputContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
        width: 100%;

        input[type="text"], input[type="password"] {
            margin: 0 auto 25px auto;
            height: 25px;
            width: 98%;
        }
    }

}
